html{
    font-family: 'Roboto' sans-serif;
}
nav{
    display: flex;
    margin: auto;
    width: 80%;
    padding: 20px 0px;
    justify-content: space-around;
}
.nav-link-div{
    display: flex;
    width: 50%;
    justify-content: space-around;
}